.card {
  border-radius: 19px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: none;
  margin: 20px;
}

.card-alert {
  background-color: rgb(226, 149, 149);
  box-shadow: none;
}
