@import "../vars.css";

.input-text {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  border-radius: 98px;
  height: 50px;
  box-shadow: inset -3px -3px 10px var(--light-color),
    inset 3px 3px 10px var(--dark-color);
  margin: 10px 0px;
  width: 100%;
  padding: 0 20px;
}
